export default {
  "database": {
    database: process.env.DATABASENAME || 'teste',
    username: process.env.DATABASEUSERNAME || 'test',
    password: process.env.DATABASEPASSWORD || 'test',
    host: process.env.HOST || '127.0.0.1',
    dialect: "postgres",
    freezeTableName: true,
    timestamps: true
  },
  "server": {
    port: process.env.PORT || 80
  }
}
